<!DOCTYPE html>
<html>

<head>
	<title>More About Us</title>
</head>
<body>
{%extends "base.html"%}

{%block content%}

<div> <h3>Our website aims to decrease depression among teens using music. we found that music can change the mood of a person, and helps him with his depression.
In order to make you feel better, we will give you the right song that fits you the most according to your own story you have published. In addition to giving you the ability to see other's stories to let you know that you are not alone and that's by letting our users comment on the shared stories. All that to be done with a nickname you choose by yourself when registering. </h3>
</div>

<h2>Our Vision</h2>
<div>
<h3>We envision a safe society in which teens are confident, empowered and responsible.</h3>
</div>
<h2>Our Mission</h2>
<div>
<h3>Our mission is to decrease the percentage of depression among teens using music as a substitute and as an empowering tool.</h3>
</div>

<a href="{{url_for('sign_up_page')}}"><input type="submit" value="Sign Up"></a>


{%endblock%}
</body>
</html>