{% extends "base.html" %}
{% block content %}
	<div align="center">
  <h1>sign up page</h1>
    		<form action="{{url_for('sign_up_page')}}" 	method="POST">
  			Your Nickname: <input type=text name="nickname"><br><br>
  			Password: <input type=password name="passowrd"> <br><br>
  			Re-enter Password: <input type=password name="password2"> <br><br>
        songs type: <input type=text name="songs type">        

  			<br><br>
        <a href="{{url_for('stories')}}"><input type="submit" value="Sign Up"></a>

    		</div>
  	</div>
    </form>
    </div>
{% endblock %}